.faq{
 
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
  }
  .wrapperFaq{
    max-width: 700px;
    padding: 0 20px;
  }
  .parentTab{
    margin-bottom: 8px;
  }
  .parentTab>label{
    background: #d2d3d3;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 7px;
  }
  .parentTab>label>span{
    color: #727272;
    font-size: 1rem;
    font-weight: bold;
  }
  .parentTab>label>.iconFaq{
    width: 20px;
    height: 20px;
    background: #f3f3f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parentTab>label>.iconFaq>span{
    color: #d2d3d3;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    top:-1px;
    left: 0.6px;
  
  }
  .parentTab>.contentResp{
    max-height: 0px;
    overflow: hidden;
    transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
}
  .parentTab>input:checked ~ .contentResp{
    max-height: 100vh;
  }
  .parentTab>input:checked ~ label>.iconFaq>span::before{
    content: '-';
    position: relative;
    top: 16px;
    left: 5px;
  }
  .parentTab>.contentResp>p{
    color: rgb(119, 119, 119);
    background: rgb(249 248 248);
    font-size: 16px;
    text-align: justify;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
  }
  .parentTab>input{
    display: none;
  }