@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
:root {
  --morado-corp: rgb(40, 18, 76);
  --verde-corp: rgb(0, 168, 157);
  --bg-portada: linear-gradient(1deg, hsl(258, 91%, 17%), hsl(176deg 100% 45%));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Nunito', sans-serif;
}

hr {
  border: 1px solid;
}
li{
  list-style: none;
}
h1,
h2 {
  color: var(--morado-corp);
  text-align: center;
  text-shadow: 1px 1px 1px #222;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

thead>tr>th {
  background: var(--morado-corp);
}

thead>tr>th:first-child {
  border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
  -ms-border-radius: 15px 0 0 0;
  -o-border-radius: 15px 0 0 0;
}

thead>tr>th:last-child {
  border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  -ms-border-radius: 0 15px 0 0;
  -o-border-radius: 0 15px 0 0;
}

th,
td {
  border-bottom: 0.1px solid rgb(210, 210, 211);
  padding: 10px;
  text-align: center;
}

tr {
  color: var(--verde-corp);
}

th {
  color: var(--verde-corp);
}

td {
  color: var(--morado-corp);
  background: rgb(242, 243, 243);
}

td:hover {
  background: var(--verde-corp);
  color: rgb(255, 255, 255);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.td-anual {
  font-size: 16px;
  font-weight: bold;
  color: dodgerblue;
  padding: 14px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, transparent 0%, rgb(231, 231, 231) 53%, transparent 100%);
}

tfoot>tr>th {
  background: #28124c;
  border-radius: 0 0 15px 15px;
  border: none !important;
  text-align: center;
  font-weight: bold;
  padding: 14px;
}

input[type='range'] {
  appearance: none;
  height: 2px;
  background: var(--verde-corp);
  margin-bottom: 35px;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 23px;
  width: 23px;
  background: var(--morado-corp);
  border: 3px solid var(--verde-corp);
  border-radius: 20px;

}


input[type='range']::-moz-range-progress {
  background: var(--morado-corp);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: absolute;
  width: 100%;
}

.logo {
  position: relative;
  left: 20px;
  top: 4px;
}
.logotipo{
  width: 200px;
  height: 65px;
  background: url(../../public/logo2.png);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 6rem; */
  min-height: 100vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-right: 20px;
}

.menu li {
  list-style: none;
}

a {
  color: var(--morado-corp);
  font-weight: bold;
  text-decoration: none;
}

.logout{
  background: transparent;
    border: 1px solid var(--morado-corp);
    border-radius: 10px;
    color: rgb(36, 36, 36);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */