.wprLogin{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 250px;
}
.wprButton{
    border: 1px double #d4d4d4;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wprButton button{
    background: transparent;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    color: rgb(36, 36, 36);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    cursor: pointer;

}